.login-container {
  h1 {
    font-size: 40px;
    margin-bottom: 30px;
  }
  img {
    width: 200px;
  }
}

.login-content {
  margin: 0 auto;
  background-color: #fcfcfc;
  width: 500px;
  color: black;
  border-radius: 5px;
  padding: 15px;
  h2 {
    margin: 20px auto ;
  }
}
