.product-banner {
  color: white;
  text-align: center;
  height: 60vh;
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  img {
    position: absolute;
    bottom: 10px;
    left: 40px;
  }
  .ratings {
    position: absolute;
    bottom: 0px;
    right: 140px;
    p {
      font-size: 12px;
      i {
        font-size: 20px;
      }
    }
  }
  #owner {
    position: absolute;
    bottom: 0px;
    left: 120px;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 25px;
  }
  .edit-product {
    position: absolute;
    bottom: 10px;
    right: 120px;
    font-size: 35px;
    color: white;
  }
  .edit-product:hover {
    color: #338CD2;
  }
}

.product-description {
  position: relative;
  #title{
    font-size: 35px;
    font-weight: 100;
  }
  #description {
    color: #454849;
    text-align: justify;
  }
  #category {
    position: absolute;
    top: 12px;
    right: 0px;
    color: #95999C;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 200;
  }
  #price {
    font-size: 22px;
    font-weight: 100;
    font-family: sans-serif;
    margin-bottom: 10px;
    text-align: right;
  }
  .ratings {
    text-align: right;
    font-size: 20px;
    p {
      font-size: 12px;
    }
    i {
      color: #D7BB0C;
      font-size: 20px;
    }
  }
}

.product-booking {
  padding: 20px;
  background-color: #E3E7E7;
  margin: 10px;
  #book-button {
    margin: 10px auto;
  }
  p {
    font-weight: 100;
    font-family: sans-serif;
    font-size: 22px;
    text-align: center;
  }
}

.update-booking {
  padding: 20px;
  background-color: #E3E7E7;
  margin: 20px 60px 20px 60px;
  #book-button {
    margin: 10px auto;
  }
  p {
    font-weight: 100;
    font-family: sans-serif;
    font-size: 22px;
    text-align: center;
  }
}

.add-picture {
  align-self: center;
  height: 150px;
  position: relative;
  margin-bottom: 10px;
  margin-top: 10px;
  border: 0.5px solid #DFE4E4;
  border-radius: 5px;
  background-color: whitesmoke;
  font-family: sans-serif;
}

.bottom-edit {
  margin: 20px;
  align-self: center;
}


