<div class="footer-container">
  <div class="footer-left text-center">
    <h4>Connect</h4>
    <ul class= "list-inline">
      <li><i class="fa fa-instagram" aria-hidden="true"></i></li>
      <li><i class="fa fa-twitter" aria-hidden="true"></i></li>
      <li><i class="fa fa-facebook-official" aria-hidden="true"></i></li>
    </ul>
  </div>
  <div class="footer-middle text-center">
    <h4>Partnerships</h4>
    <a href="https://www.lewagon.com">
      <%= image_tag "lewagon.png" %>
    </a>
  </div>
  <div class='footer-right text-center'>
  <h4>Designed by</h4>
  <div class="text">
    <a href="https://github.com/hdg678">Hunter Gregory</a>
    <p>&amp;</p>
    <a href="https://github.com/arthur-littm">Arthur Littmann</a>
  </div>
  </div>
</div>

