<div class="footer-container">
  <div class="footer-left">
    <ul class= "list-shell">
      <li class='small-icon'><i class="fa fa-instagram" aria-hidden="true"></i></li>
      <li class='small-icon'><i class="fa fa-twitter" aria-hidden="true"></i></li>
      <li class='small-icon'><i class="fa fa-facebook-official" aria-hidden="true"></i></li>
    </ul>
  </div>
  <div class='footer-right'>
  <ul>
    <li><p class="footer-content">Dragons</p></li>
    <li><p class= "footer-content">Beer of the day</p></li>
    <li><p class= "footer-content">Stop pumpkin spice lattes</p></li>
  </ul>
  </div>
</div>
