<div class="footer-container">
  <div class="footer-left text-center">
    <h4>Connect</h4>
    <ul class= "list-inline">
      <li><i class="fa fa-instagram" aria-hidden="true"></i></li>
      <li><i class="fa fa-twitter" aria-hidden="true"></i></li>
      <li><i class="fa fa-facebook-official" aria-hidden="true"></i></li>
    </ul>
  </div>
  <div class="footer-middle text-center">
    <h4>Partnerships</h4>
    <%= image_tag "lewagon.png" %>
  </div>
  <div class='footer-right text-center'>
  <h4>Designed by</h4>
  <div class="text">
    <p>Hunter Gregory</p>
    <p>&amp;</p>
    <p>Arthur Littmann</p>
  </div>
  </div>
</div>
