<h1><%= @user.email %></h1>
<h1>My bookings</h1>
<ul>
<% @user.bookings.each do |booking| %>
  <li><%= booking.equipment.title %></li>
  <li><%= booking.equipment.address %></li>
  <li><%= booking.equipment.user.first_name %></li>
  <% end %>
</ul>
