.footer-container {
  background-color: #276CA2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
  padding: 20px;
  align-items: baseline;
  h4 {
    margin-top: 0px
  }
}

.footer-left {
  list-style-type: none;
  i {
    font-size: 35px;
    margin: 25px 20px;
  }
}

.footer-middle {
  border-right: 1px solid #338CD2;
  border-left: 1px solid #338CD2;
  padding: 10px 130px;
  img {
    margin: 15px 20px 0px 20px;
  }
}

.footer-right {
  list-style-type: none;
  .text {
    font-size: 15px;
    font-style: inherit;
    font-weight: 100;
    margin: 20px 50px 0px 50px;
    p {
      margin: 2px;
    }
  }
}













