.footer-container {
  background-color: #276CA2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
  padding: 20px;
  h4 {
  }
}

.footer-left {
  list-style-type: none;
  i {
    font-size: 35px;
    margin: 25px 20px;
  }
}

.footer-middle {
  border-right: 1px solid #338CD2;
  border-left: 1px solid #338CD2;
  padding: 10px 130px;
}

.footer-right {
  list-style-type: none;
  p {
    font-size: 15px;
    font-style: italic;
  }
}













