.banner {
  color: white;
  text-align: center;
  height: calc(100vh - 70px);
  height: 100vh;
  background-size: cover !important;
  display: flex;
  justify-content: center;
}
.banner h1 {
  font-size: 40px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 20px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}

.product-banner {
  color: white;
  text-align: center;
  height: 50vh;
  background-size: cover !important;
  display: flex;
  justify-content: center;
}

.banner-content {
  margin-top: 150px;
  img {
    width: 210px;
    margin-bottom: 3px;
  }
  form {
    margin: 10px auto;
  }

}
.banner-wagon-search {
  flex: center;
  display: flex;
  justify-content: center;
  padding: 0 10px;
}
.banner-wagon-search-btn {
  line-height: 40px;
  color: #E6E6E6;
  font-size: 25px;
  border: none;
  background: transparent;
  z-index: 1;
}
.banner-wagon-search-btn:hover {
  color: #338CD2;
}

.banner-wagon-search-input {
  flex: 0 1 300px;
  transition: all 0.15s ease;
  line-height: 40px;
  font-weight: lighter;
  color: #666666;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 14px;
  outline: none;
}
.banner-wagon-search-input:focus  {
  border: 1px solid #CCCCCC;
}
