.cards {

}

.card {
  height: 215px;
  position: relative;
  margin-bottom: 10px;
  margin-top: 10px;
  border: 0.5px solid #DFE4E4;
  border-radius: 5px;
  background-color: white;
  font-family: sans-serif;
  img {
    position: absolute;
    top: -8px;
    left: -8px;
    z-index: 1;
    width: 40px;
    height: 40px;
  }
}

.card-picture {
  background-size: cover !important;
  height: 150px;
  width: calc(100% - 20px);
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 5px;
  border: 1px solid white;
  p {
    position: absolute;
    right: 10px;
    top: 8px;
    color: white;
    font-weight: 100;
    font-family: sans-serif;
  }
}

.card-title {
  position: absolute;
  bottom: 0px;
  left: 15px;
  h2 {
    font-weight: 100;
    font-size: 25px;
    margin-bottom: 10px;
  }
}

.card-price {
  position: absolute;
  bottom: 5px;
  right: 10px;
  background-color: #338CD2;
  color: white;
  border-radius: 15%;
  p {
    margin: 8px;
  }
}

.filter {
  position: relative;
  -webkit-filter: contrast(80%) brightness(110%) saturate(80%) grayscale(15%);
  filter: contrast(80%) brightness(110%) saturate(80%) grayscale(15%);
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: #338CD2;
  opacity: 0;
}
.card-link:hover{
  opacity: 0.1;
}

.card-new {
  display: flex;
  justify-content: center;
  align-items: center;
  i {
    display:inline-block;
    color: #338CD2;
    font-size: 50px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
